{{> header}}
{{> nav}}

<style>
.hideThisDate span{
display:none;
}
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Orders</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <table class="offer_detail_table table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                    
                        <th>Customer Email</th>
                        <th style="width: 200px;">Customer Mobile Number</th>
                        <th style="width: 130px;">Payment Status</th>
                        <th style="width: 110px;">Total Amount</th>
                        <th>Status</th>
                        <th style="width: 250px;">Date Created</th>
                        <th></th>
                        
                    </tr>      
                </thead>  
                <tbody>
                    {{#each orders as |ordervalue orderkey|}}
                
                    <tr>
                        
                        {{!-- <td>{{sum @index 1}}</td> --}}
                        
                            {{!-- {{#equal ordervalue.userid.role 'customer'}}
                               {{ordervalue.userid.name}}
                            {{else}}
                                {{ordervalue.customername}}
                            {{/equal}} --}}
                        
                         <td>
                            <a href="/pages/orders/view/{{ordervalue._id}}">{{ordervalue.userDetails.email}}</a> 
                        </td>
                        <td>
                            {{!-- {{#equal ordervalue.userid.role 'broker'}}
                                {{ordervalue.userid.name}}
                            {{else}}
                                {{this.brokername}}
                            {{/equal}} --}}
                            {{ordervalue.userDetails.phonenumber}}
                        </td>
                        <td>{{ordervalue.orderStatus}}</td>
                        {{!-- <td>{{dateformat this.ordermilisecond 'DD/MM/YYYY h:mm a'}}</td> --}}
                        <td>{{ordervalue.grandTotal}}</td>
                        <td>{{ordervalue.status}}</td>
                        <td class="hideThisDate">
                            <span class="hideThisDate">{{dateformat ordervalue.createdOn 'DD/MM/YYYY'}}</span>{{ordervalue.createdOn}}
                            </td>
                        <td><div class="custom-delete-edit">   
                                <a href="/pages/orders/delete/{{ordervalue._id}}" class="delete-product" data-id="{{productvalue._id}}"><i class="fa fa-trash" title="Delete" aria-hidden="true"></i></a>                                
                            </div> </td>
                    </tr>
                    {{/each}}    
                </tbody>
                <tfoot>
                  
                </tfoot>
            </table>
        </div>
    </div>
</div>



<!-- /#page-wrapper -->
{{> footer}}