{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Order Single Details</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div id="postbox-container-2" class="postbox-container">
            <div id="normal-sortables" class="meta-box-sortables ui-sortable">
                <div id="woocommerce-order-data" class="postbox ">
                    <h2 class="hndle ui-sortable-handle"><span>Order data</span></h2>
                    <div class="inside">
                        <div class="panel-wrap woocommerce">
                            <div id="order_data" class="panel woocommerce-order-data">
                                <h2 class="woocommerce-order-data__heading">Order #{{orderobject.orderid}} details</h2>
                                <div class="order_data_column_container">
                                    <div class="order_data_column">
                                        <p class="form-field form-field-wide"><label for="order_date">Date created:</label>
                                            {{dateformat orderobject.date 'DD/MM/YYYY h:mm a'}}
                                        </p>
                                       
                                        <p class="form-field form-field-wide wc-customer-user">
                                            <label for="customer_user">Customer:</label>
                                           {{#equal orderobject.userid.role 'customer'}}
                                                {{orderobject.userid.name}}
                                            {{else}}
                                                {{orderobject.customername}}
                                            {{/equal}}
                                        </p>
                                        <p class="form-field form-field-wide wc-customer-user">
                                            <label for="customer_user">Mobile Number:</label>
                                            {{orderobject.userid.phonenumber}}
                                        </p>
                                    </div>
                                    <div class="order_data_column">
                                        <p class="form-field form-field-wide wc-customer-user">
                                            <label for="customer_user">Broker Name:</label>
                                             {{#equal orderobject.userid.role 'broker'}}
                                                {{orderobject.userid.name}}
                                            {{else}}
                                                {{orderobject.brokername}}
                                            {{/equal}}
                                        </p>
                                        <p class="form-field form-field-wide wc-customer-user">
                                            <label for="customer_user">Order Note:</label>
                                            {{orderobject.ordernote}}
                                        </p>
                                        <p class="form-field form-field-wide wc-customer-user">
                                            <label for="customer_user">Order Total Amount:</label>
                                            {{orderobject.amount}} <small>Rs</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="woocommerce-order-items" class="postbox ">
                    <h2 class="hndle ui-sortable-handle"><span>Items</span></h2>
                    <form method="POST" action="/orders/ordersingledetail" id="editorderform">
                        <div class="inside">
                            <div class="woocommerce_order_items_wrapper wc-order-items-editable">
                                <table cellpadding="0" cellspacing="0" class="woocommerce_order_items">
                                    <thead>
                                        <tr>
                                            <th class="item sortable" colspan="2">Item</th>
                                            <th class="item_cost sortable">Cost</th>
                                            <th class="item_cost sortable">Offer Cost</th>
                                            <th class="quantity sortable">Qty</th>
                                            <th class="line_cost sortable">Delivered Quantity</th>
                                            <th class="line_cost sortable">Balaenced Quantity</th>
                                            <th class="quantity sortable">Tranport Charges</th>
                                            <th class="line_cost sortable">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="order_line_items">
                                            
                                                <tr class="item " data-order_item_id="5">
                                                    <input type="hidden" name="orderid" value="{{orderobject.orderid}}" />
                                                    <input type="hidden" name="objectkey" value="{{orderobject.key}}" />
                                                    <input type="hidden" name="objectindex" value="{{orderobject.objectindex}}" />
                                                    <input type="hidden" name="userid" value="{{orderobject.userid._id}}" />
                                                    <input type="hidden" name="orderdate" value="{{orderobject.date}}" />
                                                    <input type="hidden" name="customernumber" value="{{orderobject.customernumber}}" />
                                                    <input type="hidden" name="brokernumber" value="{{orderobject.brokernumber}}" />
                                                    <input type="hidden" name="user_id" value="{{orderobject.user_id}}" />
                                                    <input type="hidden" name="amount" value="{{orderobject.amount}}" />
                                                    <input type="hidden" name="transportcharge" value="{{orderobject.transportcharge}}" />
                                                    <input type="hidden" name="productid" value="{{delivary._id}}" />
                                                    <td class="thumb">
                                                        <div class="wc-order-item-thumbnail">
                                                            <img width="150" height="150" src="{{delivary.filepath}}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" title="">
                                                            <input type="hidden" name="filepath" value="{{delivary.filepath}}" />
                                                            <input type="hidden" name="filename" value="{{delivary.filename}}" />
                                                        </div>
                                                    </td>
                                                    <td class="name">
                                                        <input type="hidden" name="sku" value="{{delivary.sku}}" />
                                                        <input type="hidden" name="brandSerialNumber" value="{{delivary.brandSerialNumber}}" />
                                                        <input type="hidden" name="productName" value="{{delivary.productName}}" />
                                                        
                                                        <input type="hidden" name="brand" value="{{delivary.brand}}" />
                                                        <input type="hidden" name="pack[packvalue]" value="{{delivary.pack.packvalue}}" />
                                                        <input type="hidden" name="pack[totpack]" value="{{delivary.pack.totpack}}" />
                                                        <input type="hidden" name="pack[innerpack]" value="{{delivary.pack.innerpack}}" />
                                                        <input type="hidden" name="pack[packcharges]" value="{{delivary.pack.packcharges}}" />
                                                        <input type="hidden" name="price" value="{{delivary.price}}" />
                                                        <input type="hidden" name="brandPrice" value="{{delivary.brandPrice}}" />
                                                        <input type="hidden" name="offerMaxKgLimit" value="{{delivary.offerMaxKgLimit}}" />
                                                        <input type="hidden" name="qtyInKg" value="{{delivary.qtyInKg}}" />
                                                        <input type="hidden" name="offer" value="{{delivary.offer}}" />
                                                        <input type="hidden" name="offerPrice" value="{{delivary.offerPrice}}" />
                                                        <input type="hidden" name="staticOfferPrice" value="{{delivary.staticOfferPrice}}" />
                                                        {{#if delivary.offerId}}
                                                            <input type="hidden" name="offerId" value="{{delivary.offerId}}" />
                                                        {{/if}}
                                                        
                                                        <input type="hidden" name="discountOnQuantity" value="{{delivary.discountOnQuantity}}" />
                                                        <input type="hidden" name="staticDiscountOnQuantity" value="{{delivary.staticDiscountOnQuantity}}" />
                                                        <input type="hidden" name="transportCharge" value="{{delivary.transportCharge}}" />
                                                        <input type="hidden" name="transportRate" value="{{delivary.transportRate}}" />
                                                        <input type="hidden" name="totalItemPrice" value="{{delivary.totalItemPrice}}" />
                                                        <a href="/products/{{delivary._id}}" class="wc-order-item-name">{{delivary.productName}}</a><div class="wc-order-item-sku"><strong>Brand:</strong> {{delivary.brand}}</div><div class="wc-order-item-variation"><strong>Pack:</strong>
                                                        {{delivary.pack.packvalue}} kg
                                                        </div>		
                                                    </td>
                                                    <td class="item_cost" width="1%">
                                                        <div class="view">
                                                            <span class="woocommerce-Price-amount amount">{{delivary.brandPrice}}<span class="woocommerce-Price-currencySymbol">Rs/QTL</span></span>
                                                        </div>
                                                    </td>
                                                    <td class="item_cost" width="1%">
                                                        <div class="view">
                                                            <span class="woocommerce-Price-amount amount">{{delivary.offerPrice}}<span class="woocommerce-Price-currencySymbol">Rs/QTL</span></span>
                                                        </div>
                                                    </td>
                                                    <td class="quantity" width="1%">
                                                        <div class="view">
                                                            <small class="times">×</small> {{delivary.quantity}}
                                                            <input type="hidden" name="quantity" value="{{delivary.quantity}}" />
                                                        </div>
                                                    </td>
                                                    <td class="quantity" width="1%">
                                                        <div class="view">
                                                            <span class="woocommerce-Price-amount amount"></span>
                                                            <input type="number" name="delivaryquantity" value="{{delivary.deliveredQty}}" min="0" />
                                                        </div>
                                                    </td>
                                                    <td class="quantity" width="1%">
                                                        <div class="view">
                                                            <span class="woocommerce-Price-amount amount">{{subtract delivary.quantity delivary.deliveredQty}}</span>
                                                            <input type="hidden" name="balancequantity" value="{{subtract delivary.quantity delivary.deliveredQty}}" />
                                                        </div>
                                                    </td>
                                                    <td class="quantity" width="1%">
                                                        <div class="view">
                                                            <span class="woocommerce-Price-amount amount">{{delivary.transportCharge}}<span class="woocommerce-Price-currencySymbol">Rs</span></span>
                                                        </div>
                                                    </td>
                                                    <td class="line_cost" width="1%" data-sort-value="8000">
                                                        <div class="view">
                                                            <span class="woocommerce-Price-amount amount">{{delivary.totalItemPrice}}<span class="woocommerce-Price-currencySymbol">Rs</span></span>		</div>
                                                        <div class="edit" style="display: none;">
                                                            <div class="split-input">
                                                                <div class="input">
                                                                    <label>Pre-discount:</label>
                                                                    <input type="text" name="line_subtotal[5]" placeholder="0" value="8000" class="line_subtotal wc_input_price" data-subtotal="8000">
                                                                </div>
                                                                <div class="input">
                                                                    <label>Total:</label>
                                                                    <input type="text" name="line_total[5]" placeholder="0" value="8000" class="line_total wc_input_price" data-tip="After pre-tax discounts." data-total="8000">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="wc-order-data-row wc-order-totals-items wc-order-items-editable">
                                <table class="wc-order-totals">
                                    <tbody>
                                        {{!-- <tr>
                                            <td class="label">Shipping:</td>
                                            <td width="1%"></td>
                                            <td class="total"><span class="woocommerce-Price-amount amount">500.00<span class="woocommerce-Price-currencySymbol">$</span></span></td>
                                        </tr>--}}
                                        <tr>
                                            <td class="label">Total:</td>
                                            <td width="1%"></td>
                                            <td class="total"><span class="woocommerce-Price-amount amount">{{order.amount}}<span class="woocommerce-Price-currencySymbol"> Rs</span></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <input class="btn btn-success" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
{{> footer}}